default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: sidekiq_reliable_job_development

test:
  <<: *default
  database: sidekiq_reliable_job_test
