class CreateReliableJobOutbox < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :reliable_job_outbox do |t|
      t.string :jid, null: false
      t.string :job_class, null: false
      t.json :payload, null: false
      t.string :status, null: false, default: "pending"
      t.datetime :enqueued_at

      t.timestamps
    end

    add_index :reliable_job_outbox, :jid, unique: true
    add_index :reliable_job_outbox, %i[status id]
  end
end
